<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<test verbose="2" preserve-order="true" name="D:/New folder (3)/RestAPI">
    <classes>
        <class name="org.example.CreateUser"/>
        <class name="org.example.GetUser"/>
        <class name="org.example.DeleteUser"/>
    </classes>
</test>
</suite>